.card {
    max-width: 60%;
    margin: 20px auto;
    border: 2px solid #E4602F;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #E4602F;
    font-size: 20px;
}


.weather-container {
    display: flex;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    width: 25%;
}

.day {
    text-align: left;
    font-size: 16px;
    padding: 8px 0;
    border-bottom: 1px solid #E4602F;
}

.weather-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;

}

.weather-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    border-bottom: 1px solid #E4602F;
}

.weather-icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.weather-icon img {
    width: 30px;
    height: auto;
}

.pop {
    margin-left: 5px;
    font-size: 14px;
}

.temperature {
    display: flex;
    align-items: center;
    gap: 5px;
}


@media (min-width: 481px) {
    .card {
        max-width: 80%;
    }
}

@media (min-width: 1201px) {
    .card {
        max-width: 70%;
    }
}

@media (min-width: 1601px) {
    .card {
        max-width: 50%;
    }
}